<div class="create_new">
  <%= form_for(@student, :html => {:class => "form-signin"}) do |f| %>
      <div class="form_element" style="padding-bottom: 5px;">
        <div style="text-align: center;font-size: 22px;">
          Please sign up
        </div>
      </div>
      <div class="form_element">
        <%= f.text_field :name, autofocus: true, :class => 'field-input-section-name', :placeholder => 'Student name', :required => "" %>
      </div>
      <div class="form_element">
        <%= f.text_field :group, autofocus: true, :class => 'field-input-section-name', :placeholder => "Group", :required => "" %>
      </div>
      <%= f.hidden_field :section_result_name, :value => params[:section] %>
      <%= f.hidden_field :test_result_name, :value => params[:test] %>

      <div class="form_element">
        <input type="submit" name="commit" value="Start" class="create_new_section">
      </div>
<% end %>
</div>