<div class="container">
  <%= form_for(@student, :html => {:class => "form-signin"}) do |f| %>
      <h3 class="form-signin-heading">Please sign up</h3>
      <%= f.text_field :name, autofocus: true, :class => 'form-control', :placeholder => "Student name", :required => "" %>
      <%= f.text_field :group, autofocus: true, :class => 'form-control', :placeholder => "Group", :required => "" %>
      <%= f.hidden_field :section_result_name, :value => params[:section] %>
      <%= f.hidden_field :test_result_name, :value => params[:test] %>
      <input type="submit" name="commit" value="Start" class="btn-login">
  <% end %>
</div>
<style>
  .form-signin{
    margin: auto;
  }
    .form-control{
      margin-bottom: 15px;
    }
    .btn-login{
      margin-left: 80px;
    }
</style>