<div class="naming-block">
  <h1><%= @name %></h1>
</div>
<% @data.each do |current_data|  %>
    <div class="block-element">
        <% if @name.nil? %>
            <a class="section-data"><%= current_data.name %></a>
            <span class="section-data" style="float: right;   margin-right: 15px;"><%= current_data.result %></span>
            <span class="section-data" style="float: right;   margin-right: 15px;"><%= current_data.created_at %></span>
      <% else %>
            <%= link_to current_data, params.merge({@key => current_data}), class: 'section-data' %>
      <% end %>
    </div>
<% end  %>