<div class="naming-block">
  <% if user_signed_in? %>

      <h1>Sections
        <div class="add_new_element" onclick="$('#add_new_element_selector').click()">+</div>
      </h1>
      <%= button_to '+', new_section_path, :class => 'hided', id: 'add_new_element_selector' %>
  <% else %>
      <h1>Sections</h1>
  <% end %>

</div>
<div class="row">
  <% unless @sections.nil? %>
      <% @sections.where(blocking: false).each do |section| %>
          <div class="col-xs-12">
            <div class="block-element">
              <a class="link" href="<%= section_path(section) %>">
                <span class="section-data">
                  <%= section.name %>
                </span>
                <a class="link <%= "hidden" unless user_signed_in? %>" data-method="block" rel="nofollow" href=<%= "/block/#{section.id}" %>>
                  <span style="color: red;">Block</span>
                </a>
                <span class="badge count-of-tests"><%= section.tests.count %></span>
              </a>
            </div>
          </div>

      <% end %>
  <% end %>
</div>
<% if user_signed_in? %>
    <% unless @sections.where(blocking: true).empty? %>
          <% @sections.where(blocking: true).each do |section| %>
              <div class="col-xs-12">
                <div class="block-element">
                  <a class="link" href="<%= section_path(section) %>">
                <span class="section-data">
                  <%= section.name %>[BLOCKED]
                </span>
                    <a class="link admin_link" rel="nofollow" data-method="unblock" href="/unblock/<%= section.id %>"><span class="admin_link">Unblock</span></a>
                    <a data-confirm="Are you sure?" class="link admin_link" rel="nofollow" data-method="delete" href="/sections/<%= section.id %>"><span class="admin_link">Delete</span></a>
                    <span class="badge count-of-tests"><%= section.tests.count %></span>
                  </a>
                </div>
              </div>
          <% end %>
    <% end %>
<% end %>
