<div class="container">
  <% if user_signed_in? %>
      <div class="row">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <%= button_to 'Create new section', new_section_path, :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <div class="span11">

      <% @sections.where(blocking: false).each do |section| %>
          <a href=<%= section_path(section) %>></a>
          <div class="section_item">
          <span>
            <%= link_to section.name, section %>
            <% if user_signed_in? %>
            <%= link_to 'Block', "/block/#{section.id}", :method => 'block' %>
            <% end %>
          </span>
          </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
      <% unless @sections.where(blocking: true).empty? %>
          <div class="alert alert-info" role="alert" style="text-align: center">
            This sections is blocked. Users cant see it. You cat unblock or delete
          </div>
      <% end %>
      <div class="row">
        <div class="span11">
          <% @sections.where(blocking: true).each do |section| %>
              <div class="section_item">
                <a href=<%= section_path(section) %>>
                  <%= " #{section.name} [BLOCKED]" %>
                  <%= link_to 'Unblock', "/unblock/#{section.id}", :method => 'unblock' %>
                  <%= link_to 'Destroy', section, method: :delete, data: {confirm: 'Are you sure?'} %>
                </a>
              </div>
          <% end %>
        </div>
      </div>
      </div>
  <% end %>
  </div>