<div class="container">
  <div id="classHeader">
    <% if @sections.empty? %>
        <h3> Sections is not found</h3>
    <% else %>
        <h3>Sections</h3>
    <% end %>
  </div>
  <% if user_signed_in? %>
      <div class="row">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <%= button_to 'Create new section', new_section_path, :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
  <% end %>
  <div class="row">

      <% unless @sections.nil? %>
          <% @sections.where(blocking: false).each do |section| %>
            <div class=<%= user_signed_in? ? "col-md-11" : "col-md-12" %>>

            <a id="block_element" href="<%= section_path(section) %>">
                <span class="section-data"><%= section.name %>
                  <span class="badge count-of-tests"><%= section.tests.count %></span>
                </span>
              </a>
            </div>
            <div class="col-md-1 <%= "hidden" unless user_signed_in? %>">
              <a id="block_element" data-method="block" rel="nofollow" href=<%= "/block/#{section.id}" %>
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
              </a>
            </div>


  <% end %>
      <% end %>

  </div>
  <% if user_signed_in? %>
      <% unless @sections.where(blocking: true).empty? %>
          <div class="alert alert-info element-is-blocked-alert" role="alert" style="text-align: center">
            This sections is blocked. Users cant see it. You can unblock or delete

      <% end %>
      <div class="row">
        <div class="col-md-12">
          <% @sections.where(blocking: true).each do |section| %>
              <div class="section_item">
                <div id="block_element" href="<%= section_path(section) %>">
                <span class="section-data"><%= section.name %> [BLOCKED]</span>
                    <%= link_to '<span class="glyphicon glyphicon-share" aria-hidden="true"></span>'.html_safe, "/unblock/#{section.id}", :method => 'unblock', class: "btn-default unblock-and-delete-buttons" %>
                    <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, section, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-default unblock-and-delete-buttons"  %>
                  <span class="badge count-of-tests"><%= section.tests.count %></span>
                </span>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      </div>

  <% end %>
</div>

