<div class="container">
  <div id="classHeader">
    <h3>Tests</h3>
  </div>

  <% if user_signed_in? %>
      <div class="row">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <%= button_to 'Create new test', new_section_test_path(@section), :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
  <% end %>

  <div class="row">
    <% @tests.each do |test| %>
        <div class="section_item">
          <div class=<%= user_signed_in? ? "col-xs-8" : "col-xs-9" %>>
            <a id="block_element" href="<%= students_new_path(:section => @section.id, :test => test.id) %>"><span class="section-data"><%= test.name %>
              <span class="badge count-of-tests"><%= test.questions.count %></span></span></a></div>
        </div>
        <div class="col-xs-2">
          <div id="block_element">&#9200;<%= test.time_out %>
            <% if test.time_out.nil? %>
                &#8734;
            <% end %>
            min
          </div>
        </div>
        <div class="col-xs-1">
          <div id="block_element">
            <% if test.come_back %>
                &#9668;
            <% else %>
                &#8855;
            <% end %>
          </div>
        </div>
        <div class="col-xs-1"><a id="block_element" onclick="$('.delete-link').click()">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
          <%= link_to 'delete-link', "#{section_path(@section)}/tests/#{test.id}", method: :delete, data: {confirm: 'Are you sure?'}, class: "delete-link hidden" %>
        </a>
        </div>
    <% end %>
  </div>
</div>


