<div class="container">
  <div class="naming-block">
    <% if user_signed_in? %>
        <%= button_to '+', new_section_test_path(@section), :class => 'hided', id: 'add_new_element_selector' %>
        <h1><%=t :tests %>
          <div class="add_new_element" onclick="$('#add_new_element_selector').click()">+</div>
        </h1>
    <% else %>
        <h1><%=t :tests %></h1>
    <% end %>
  </div>
  <div class="row">
    <% @tests.each_pair do |test| %>
        <div class="block-element">
          <div class="section_item">
            <a class="link test_run" value="<%= {test[0] => test[1]}.to_json %>"
               href="#">
                <span class="section-data">
                  <%= test[0] %>
                  <% if user_signed_in? %>
                      <a class="link add_question_button" href="#" value="<%= {test[0] => test[1]}.to_json %>">
                        <span class="add_question_link"><%=t :add_question %></span>
                      </a>

                      <a class="link myBtn" id="myBtn" value="<%= {test[0] => test[1]}.to_json %>">
                        <span class="admin_link"><%=t :edit %></span>
                      </a>

                      <a class="link delete_button" value="<%= {test[0] => test[1]}.to_json %>" >
                        <span class="admin_link"><%=t :delete %></span>
                     </a>
                   <% end %>
                  <span class="badge count-of-tests" value="<%= {test[0] => test[1]}.to_json %>" name=<%= test[0] %>>
                  <%= test[1][:variants][1][:questions] %>
                  </span>
                </span>
            </a>
            <%= select_tag test[0], options_for_select(test[1][:variants].keys.map(&:to_s)),
                           class: 'variant_selection', name: test[0], value: {test[0] => test[1]}.to_json %>
            <span class="come_back_icon">
            <% if test[1][:come_back] %>
                &#9668;
            <% else %>
                &#8855;
            <% end %>
          </span>
          </div>
        </div>
        </div>
    <% end %>
    </div>
</div>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">×</span>
    <div class="create_new">
      <form id="edit_form" class="form-horizontal" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden">
        <div class="form_element">
          <div style="text-align: center;font-size: 22px;">
            <%=t :edit_test %>
          </div>
        </div>
        <div class="form_element">
          <input class="field-input-section-name" placeholder="Test name" autofocus="autofocus" type="text" value="Name" name="test[name]" id="test_name">
        </div>
        <div class="form_element">
          <div class="edit-test-control">
            <input name="test[come_back]" type="hidden" value="0"><input class="comeback" type="checkbox" value="1" checked="checked" name="test[come_back]" id="test_come_back">
            <label><%=t :to_return %></label>
          </div>
        </div>
        <div class="form_element">
          <input type="submit" name="commit" value="Update Test" class="create_new_section">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $("select").change(function () {
//      console.log($(this).attr("name"));
      test_data = JSON.parse($(this).attr('value'));
      variant = $("select[name='" + $(this).attr("name") + "']")[0].selectedIndex + 1;
      $(this).parents(".section_item").children(".count-of-tests").text(Object.values(test_data)[0]['variants'][variant]['questions'])
  });

    $(".myBtn").click(function () {
        test_data = JSON.parse($(this).attr('value'));
        variant = GetVariant(Object.keys(test_data)[0]);
        id = Object.values(test_data)[0]['variants'][variant]['id'];
        $('#edit_form')[0].setAttribute('action',"/sections/" + <%= @section.id %> + "/tests/" + id);
        $('#test_name')[0].setAttribute('value', Object.keys(test_data)[0]);
        $('.modal').css('display', 'block');
    });

    $(".delete_button").click(function () {
        if (confirm("Are you sure?")) {
            test_data = JSON.parse($(this).attr('value'));
            variant = GetVariant(Object.keys(test_data)[0]);
            console.log($(this).val());
            id = Object.values(test_data)[0]['variants'][variant]['id'];
            $(this)[0].setAttribute('href',"/sections/" + <%= @section.id %> + "/tests/" + id);
            $(this)[0].setAttribute('data-method',"delete");
        }
    });

    $(".add_question_button").click(function () {
      test_data = JSON.parse($(this).attr('value'));
      variant = GetVariant(Object.keys(test_data)[0]);
      console.log($(this).val());
      id = Object.values(test_data)[0]['variants'][variant]['id'];
      $(this)[0].setAttribute('href',"/sections/" + <%= @section.id %> + "/tests/" + id + '/edit');
    });

    $(".test_run").click(function () {
        console.log($(this));
       test_data = JSON.parse($(this).attr('value'));
       variant = GetVariant(Object.keys(test_data)[0]);
       console.log($(this).val());
       id = Object.values(test_data)[0]['variants'][variant]['id'];
        $(this)[0].setAttribute('href',"/students/new?" + "section=" + <%= @section.id %> + "&test=" + id);
    });

    $(".close").click(function () {
        $(".modal").css("display", "none");
    });

    window.onclick = function (event) {
        if ($(event.target).hasClass('modal')) {
            $(".modal").css("display", "none");
        }
    };
    function GetVariant(id) {
        console.log($("[name='" + id + "']")[0].selectedIndex + 1);
        return ($("select[name='" + id + "']")[0].selectedIndex + 1)
    }
</script>