<div class="container">
  <div class="naming-block">
    <% if user_signed_in? %>
        <%= button_to '+', new_section_test_path(@section), :class => 'hided', id: 'add_new_element_selector' %>
        <h1>Tests
          <div class="add_new_element" onclick="$('#add_new_element_selector').click()">+</div>
        </h1>
    <% else %>
        <h1>Tests</h1>
    <% end %>
  </div>
  <% if user_signed_in? %>
      <div class="row">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">

          </div>
        </div>
      </div>
  <% end %>
  <div class="row">
    <% @tests.each do |test| %>
        <div class="block-element">
          <div class="section_item">
            <div class="col-xs-9">
              <a id="block_element" class="link" href="<%= students_new_path(:section => @section.id, :test => test.id) %>">
                <span class="section-data">
                  <%= test.name %>

                  <% if user_signed_in? %>
                <a id="block_element" class="link" href="<%= edit_section_test_path(@section, test) %>">
                  <span class="admin_link">Edit</span>
                </a>
                  <a data-confirm="Are you sure?" class="link" rel="nofollow" data-method="delete" href=<%= "#{section_path(@section)}/tests/#{test.id}" %>>
                    <span class="admin_link">Delete</span>
                  </a>
                   <% end %>


                  <span class="badge count-of-tests">
                  <%= test.questions.count %></span>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xs-2">
            <div id="block_element">&#9200;<%= test.time_out %>
              <% if test.time_out.nil? %>
                  &#8734;
              <% end %>
              min
            </div>
          </div>
          <div class="col-xs-1">
            <div id="block_element">
              <% if test.come_back %>
                  &#9668;
              <% else %>
                  &#8855;
              <% end %>
            </div>
          </div>
        </div>

    <% end %>
  </div>
</div>


