<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Edit current test</div>
      <div class="panel-body">
        <%= form_for([@section, @test], :html => {:class => "form-horizontal"}) do |f| %>
            <div class="col-xs-6 ">
              <%= f.text_field :name, class: "form-control edit-test-control", placeholder: "Test name", autofocus: true %>
            </div>
            <div class="col-xs-2">
              <div class="input-group edit-test-control">
                <%= f.text_field :time_out, class: "form-control", placeholder: "Time out" %>
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span></span>
              </div>
            </div>
            <div class="col-xs-1">
              <div class="checkbox">
                <div class="edit-test-control">
                  <label>
                    <%= f.check_box :come_back, :class => 'checkbox' %><b>Comeback</b>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-1">
              <div class="edit-test-controls-update">
                <%= f.submit :class => "update_test", :value => 'Update' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Add new qurstion</div>
      <div class="panel-body">
        <%= render "questions/form" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">All questions</div>
      <div class="panel-body">
        <% @questions.each do |question| %>
            <div class="row">
              <div class="col-xs-12">
                <b><%= question.name %></b>
                <a class="link" data-toggle="modal" data-target="#myModaleditquestionname<%= question.id %>">
                  <span class="admin_link" style="cursor: pointer; padding-left: 10px">Edit question</span>
                </a>

                <a class="link" data-toggle="modal" data-target="#myModal<%= question.id %>">
                  <span class="admin_link" style="cursor: pointer; padding-left: 10px">Add answer</span>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new variant</h4>
                      </div>
                      <div class="modal-body">
                        <%= form_for [question, @variant] do |f| %>
                            <div class="form-group">
                              <%= f.text_field :name, class: "form-control", :placeholder => "Variant of answer" %>
                            </div>
                            <div class="form-group">
                              <label>
                                <%= f.check_box :answer %> It is a true variant
                              </label>
                            </div>
                            <div class="form-group">
                              <label>
                                <%= f.file_field :avatar, :class => "input-file" %>
                              </label>
                            </div>
                            <div class="modal-footer">
                              <%= f.submit :class => "update_test" %>
                            </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <a data-confirm="Are you sure?" class="link" rel="nofollow" data-method="delete" href=<%= question_path(question) %>>
                  <span class="admin_link" style="cursor: pointer; padding-left: 10px">Delete question</span>
                </a>
                <div class="modal fade" id="myModaleditquestionname<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit question name</h4>
                      </div>
                      <div class="modal-body">
                        <%= form_for([@test, question]) do |f| %>
                            <div class="form-group">
                              <%= f.text_field :name, class: "form-control edit-test-control", :placeholder => "Question name" %>
                            </div>
                            <input type="submit" name="commit" value="Update Question" class="update_test" style="margin-left: 180px">
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <% question.variants.each do |current_variant| %>
                  <div class="col-md-3">
                    <div class="thumbnail <%= "true-variant" if current_variant.answer %>">
                      <a data-confirm="Are you sure?" class="link" style="float: right" rel="nofollow" data-method="delete" href=<%= "/questions/#{question.id}/variants/#{current_variant.id}" %>>
                        <span class="admin_link" aria-hidden="true">
                          Delete
                        </span></a>
                      <div style="background: url(<%= current_variant.avatar.url %>) 100% 100% no-repeat;
                          background-size: contain;
                          background-position: 50% 50%; height: 100px;">
                      </div>
                      <div class="caption">
                        <p style="text-align: center; word-wrap: break-word" class="result-describe-edit">
                          <%= current_variant.name %>
                        </p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
