<div class="naming-block">
  <%= button_to '+', new_section_test_path(@section), :class => 'hided', id: 'add_new_element_selector' %>
  <h1>Question
    <div class="add_new_element" onclick="CreateQuestion()" id="myBtn" style="cursor: pointer;">+</div>
  </h1>
</div>

<% @questions.each do |question| %>
    <div class="block-element question_block">
      <a class="link" data-toggle="modal" data-target="#myModal<%= question.id %>">
        <span class="add_variant_link" style="cursor: pointer">Add answer</span>
      </a>
      <a class="link" data-toggle="modal" data-target="#myModaleditquestionname<%= question.id %>">
        <span class="admin_link" style="cursor: pointer">Edit</span>
      </a>
      <a data-confirm="Are you sure?" class="link" rel="nofollow" data-method="delete" href=<%= question_path(question) %>>
        <span class="admin_link" style="cursor: pointer">Delete</span>
      </a>
      <span class="section-data question_name"><%= question.name %></span>
    </div>



        <!-- Modal1 -->
        <div class="modal fade" id="myModal<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="create_new">
                <div style="text-align: center;font-size: 22px;">
                 Add new answer</div>
              <div class="modal-body">
                <%= form_for [question, @variant] do |f| %>
                    <div class="form_element">
                      <%= f.text_field :name, class: "field-input-section-name", :placeholder => "Variant of answer" %>
                    </div>
                        <%= f.check_box :answer %> It is a true variant
                    <div class="form_element">
                        <%= f.file_field :avatar, :class => "input-file" %>
                    </div>
                      <%= f.submit :class => "create_new_section" %>
                <% end %>
              </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Modal2 -->

      <div class="modal fade" id="myModaleditquestionname<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="create_new">
                <div style="text-align: center;font-size: 22px;">
                  Edit question name</div>
              <div class="modal-body">
                <%= form_for([@test, question]) do |f| %>
                    <div class="form_element">
                      <%= f.text_field :name, class: "field-input-section-name", :placeholder => "Question name" %>
                    </div>
                    <div class="form_element">
                      <input type="submit" name="commit" value="Update Question" class="create_new_section">
                    </div>
                <% end %>
              </div>
            </div>
          </div>
          </div>

      </div>
      <% question.variants.each do |current_variant| %>
          <div class="col-md-3">
            <div class="thumbnail <%= "true-variant" if current_variant.answer %>">
              <a data-confirm="Are you sure?" class="link" style="float: right" rel="nofollow" data-method="delete" href=<%= "/questions/#{question.id}/variants/#{current_variant.id}" %>>
                        <span class="admin_link" aria-hidden="true">
                          Delete
                        </span></a>
              <div style="background: url(<%= current_variant.avatar.url %>) 100% 100% no-repeat;
                  background-size: contain;
                  background-position: 50% 50%; height: 100px;">
              </div>
              <div class="caption">
                <p style="text-align: center; word-wrap: break-word" class="result-describe-edit">
                  <%= current_variant.name %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
<% end %>


<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="create_new">
        <div style="text-align: center;font-size: 22px;">
          Add new question
        </div>
          <%= render "questions/form" %>
    </div>
  </div>
</div>
<script>
    function CreateQuestion() {
        var selector = "#myModal";
        $(selector).css('display', 'block');
        console.log($(selector));
    }

    $(".close").click(function () {
        $(".modal").css("display", "none");
    });

    window.onclick = function (event) {
        if ($(event.target).hasClass('modal')) {
            $("#myModal").css("display", "none");
        }
    }
</script>