<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Edit current test</div>
      <div class="panel-body">
        <%= form_for([@section, @test], :html => {:class => "form-horizontal"}) do |f| %>
            <div class="col-xs-6 ">
              <%= f.text_field :name, class: "form-control edit-test-control", placeholder: "Test name", autofocus: true %>
            </div>
            <div class="col-xs-2">
              <div class="input-group edit-test-control">
                <%= f.text_field :time_out, class: "form-control", placeholder: "Time out" %>
                <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span></span>
              </div>
            </div>
            <div class="col-xs-1">
              <div class="checkbox">
                <div class="edit-test-control">
                  <label>
                    <%= f.check_box :come_back, :class => 'checkbox' %><b>Comeback</b>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="edit-test-controls-update">
                <%= f.submit :class => "btn btn-success btn-block", :value => 'Update' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Add new qurstion</div>
      <div class="panel-body">
        <%= render "questions/form" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">All questions</div>
      <div class="panel-body">
        <% @questions.each do |question| %>
          <span>
              <h4>
               <b><%= question.name %></b>
                <a class="btn-primary unblock-and-delete-buttons" data-toggle="modal" data-target="#myModal<%= question.id %>">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
                  </span>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new variant</h4>
                      </div>
                      <div class="modal-body">
                        <%= form_for [question, @variant] do |f| %>
                            <div class="form-group">
                            <%= f.text_field :name, class: "form-control", :placeholder => "Variant of answer" %>
                            </div>
                            <div class="form-group">
                            <label>
                            <%= f.check_box :answer %> It is a true variant
                            </label>
                            </div>
                            <div class="form-group">
                            <label>
                            <%= f.file_field :avatar, :class => "input-file" %>
                            </label>
                            </div>
                            </div>

                              <div class="modal-footer">
                            <%= f.submit :class => "btn btn-success modal-ok-button" %>
                             </div>
                        <% end %>

                    </div>
                  </div>
                </div>
                <%= link_to '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'.html_safe, edit_question_path(question), class: "btn-primary unblock-and-delete-buttons" %>
                <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, question, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-danger unblock-and-delete-buttons" %>
            </h4>
          </span>
            <% question.variants.each do |current_variant| %>
                <%= current_variant.name %>
                <%= current_variant.answer %>
                <%= image_tag current_variant.avatar.url(:thumb) %>
                <%= link_to 'Destroy', "/questions/#{question.id}/variants/#{current_variant.id}", method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
