<%= form_tag("/consider", method: "post") do %>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="row-fluid">
          <div class="finish-button">

            <button type="submit" name="commit" value="finish" class="btn btn-default finish-button">
              <span class="glyphicon glyphicon-saved next-question" aria-hidden="true"></span>
            </button>
          </div>

          <div class="question-button">
            <button type="button" class="btn btn-default prev-slide" aria-label="Left Align">
              <span class="glyphicon glyphicon-arrow-left next-question" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default next-slide" aria-label="Left Align">
              <span class="glyphicon glyphicon-arrow-right next-question" aria-hidden="true"></span>
            </button>
          </div>
        </div>

        <div class="col-md-12">
          <div class="examplecarusel">

            <div id="myCarousel2" class="carousel slide" data-interval="0" data-ride="carousel">
              <div class="carousel-inner">
                <% first_selector = 'active' %>
                <% @questions.each_with_index do |question, i| %>

                    <div class="<%= first_selector %> item">
                      <p>
                      <h4>Question <%= i + 1 %> (<%= @questions.size %>): <b><%= question.name %></b></h4>

                      </p>
                      <% question.variants.each do |current_variant| %>
                          <div class="col-md-4">
                            <div class="thumbnail">
                              <div class="result-item" style="background: url(<%= current_variant.avatar.url %>) 100% 100% no-repeat;
                                  background-size: contain;
                                  background-position: 50% 50%;">
                              </div>
                              <div class="caption result-describe">
                                <h3> <%= current_variant.name %></h3>
                                <%= check_box_tag("[questions]#{question.id}[#{current_variant.id}]".to_sym) %>
                              </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                    <% first_selector = '' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
<% end %>
</div>
<script>
  $(document).ready(function () {
    // Инициализирует карусель
    $("#myCarousel2").carousel('pause');
    // Осуществляет переход на предыдущий слайд
    $(".prev-slide").click(function () {
      $("#myCarousel2").carousel('prev');
    });
    // Осуществляет переход на следующий слайд
    $(".next-slide").click(function () {
      $("#myCarousel2").carousel('next');
    });
  });
</script>
<style>
  .next-question {
    font-size: 75px;
  }

  .btn {
    margin-top: 20px;
  }
  .finish-button {
    float:left;
    margin-left: 25px;
  }

  .question-button {
    float:right;
    margin-right: 52px;
  }
</style>