<p id="notice"><%= notice %></p>
<%= link_to 'Back', controller: "sections", action: "show", id: @section %>
<%= link_to 'Destroy', {controller: "tests", action: "destroy", id: @test}, method: :delete, data: {confirm: 'Are you sure?'} %>
<h1>
  <%= @test.name %> |<%= link_to 'Edit', controller: "tests", action: "edit", id: @test %>
</h1>

<table>

  <tbody>
  <% @questions.each do |question| %>
      <tr>
        <td>
          <%= question.name %>
          <% question.variants.each do |current_variant| %>
              <div>
                <p><%= current_variant.name %></p>
                <p><%= image_tag current_variant.avatar.url(:medium)  %></p>
              </div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
