<%= form_tag("/consider", method: "post") do %>
        <div class="question-buttons">
          <% if  @test.come_back %>
              <button class="prev">&lt;&lt;</button>
          <% end %>
          <button class="next">&gt;&gt;</button>
          <button type="submit" name="commit" value="finish" class="finish-button">
            <span style="font-size: large"><%=t :finish %></span>
          </button>
        </div>
        <div class="current_question">
        <ul>
          <% @questions.each_with_index do |question, i| %>
              <li>
                <div class="question-name">
                 <p>Question <%= i + 1 %> (<%= @questions.size %>): <b><%= question.name %></b></p>
                </div>
                <div class="answers" value="<%= question.variants.where(answer: true).count == 1 %>">

                  <% question.variants.each do |current_variant| %>
                      <div class="current_answer">
                       <%= check_box_tag("[questions]#{question.id}[#{current_variant.id}]".to_sym, '0', false, :class => 'checkbox hided') %>
                      <div class="big-answer-image <%= 'hidden' if  current_variant.avatar.url == "/images/original/missing.png"  %>" id="<%= "[questions]#{question.id}[#{current_variant.id}]".to_sym %>" style="background: url(<%= current_variant.avatar.url %>) 100% 100% no-repeat;
                          background-size: contain;
                          background-position: 50% 50%; cursor:pointer;">
                      </div>
                      <div class="result-describe">
                        <h3><%= current_variant.name %></h3>
                      </div>
                      </div>
                <% end %>
                </div>
              </li>
          <% end %>
        </ul>
        </div>
<% end %>
<script>
    $(document).ready(function () {
        $(".current_question").jCarouselLite({
            btnNext: ".next",
            btnPrev: ".prev",
            scroll: 1,
            visible: 1,
            circular: false
        });
    });

    $(".current_answer").on('click', function () {
          if ($(this).parent('.answers')[0].getAttribute('value') === 'true') {
            $(this).parent('.answers').find('input[type=checkbox]').prop('checked', false);
            $(this).parent('.answers').find('.current_answer').removeClass('selected');
            $(this).find('input[type=checkbox]').prop('checked', true);
            $(this).addClass('selected');
        } else  {
            if ($(this).children('.checkbox').is(":checked")) {
                console.log($(this).children('.checkbox').is(":checked"));
                $(this).find('input[type=checkbox]').prop('checked', false);
                $(this).removeClass('selected');
            } else {
                console.log($(this).children('.checkbox').is(":checked"));
                $(this).find('input[type=checkbox]').prop('checked', true);
                $(this).addClass('selected');
            }
        }
    });
</script>
