<p id="notice"><%= notice %></p>
<%= link_to 'Back', controller: "sections", action: "show", id: @section %>
<%= link_to 'Destroy', {controller: "tests", action: "destroy", id: @test}, method: :delete, data: {confirm: 'Are you sure?'} %>
<h1>
  <%= @test.name %> |<%= link_to 'Edit', controller: "tests", action: "edit", id: @test %>
</h1>

<% @questions.each do |question| %>
    <div style="border: 4px double black;">
      <p><%= question.name %></p>
      <% question.variants.each do |current_variant| %>
            <span><%= current_variant.name %>
              <%= image_tag current_variant.avatar.url(:medium) %></span>
      <% end %>
      <br/>
      <br/>
      <br/>
    </div>
<% end %>
