<%= form_tag("/consider", method: "post") do %>
        <div class="question-button">
          <button class="prev">&lt;&lt;</button>
          <button class="next">&gt;&gt;</button>
          <button type="submit" name="commit" value="finish" class="btn btn-default finish-button">
            <span style="font-size: large">Finish</span>
          </button>
        </div>
        <div class="current_question">
        <ul>
          <% @questions.each_with_index do |question, i| %>
              <li>
                  <p><h4>Question <%= i + 1 %> (<%= @questions.size %>): <b><%= question.name %></b></h4></p>
                  <% question.variants.each do |current_variant| %>
                      <div class="thumbnail" id="<%= "[questions]#{question.id}[#{current_variant.id}]".to_sym %>">
                        <%= check_box_tag("[questions]#{question.id}[#{current_variant.id}]".to_sym, '0', false, :class => 'checkbox hidden') %>

                        <div class="result-item" style="background: url(<%= current_variant.avatar.url %>) 100% 100% no-repeat;
                            background-size: contain;
                            background-position: 50% 50%; cursor:pointer;">

                        </div>
                        <div class="caption result-describe">
                          <h3><%= current_variant.name %></h3>
                        </div>
                      </div>
                  <% end %>
              </li>
          <% end %>
        </ul>
        </div>
<% end %>
<script>
    $(document).ready(function () {
        $(".current_question").jCarouselLite({
            btnNext: ".next",
            btnPrev: ".prev",
            scroll: 1,
            visible: 1,
            circular: false
        });
    });

    $(".thumbnail").on('click', function () {
        console.log('clock');
        if ($(this).children('.checkbox').is(":checked")) {
            $(this).find('input[type=checkbox]').prop('checked', false);
            this.style.backgroundColor = "rgb(255, 255, 255)"
        } else {
            $(this).find('input[type=checkbox]').prop('checked', true);
            this.style.backgroundColor = "rgb(204, 255, 204)"
        }
    });
</script>
