<!DOCTYPE html>
<html>
<head>
  <title>Text Explorer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-app">
  <div class="test-explorer-name-block">
    <a class="link test-explorer-link" href=<%= root_path %>>Test Explorer</a>
  </div>
  <div class="log-in-box">
 <% if user_signed_in? %>
         <span class="navbar-text" style="margin-top: 7px;">Signed in as <%= current_user.email %></span>
         <a class="link login-bottom"  href= <%= destroy_user_session_path %> data-method="delete" rel="nofollow"><div class="user-name"> Logout</div></a>
   <% else %>
        <a class="link login-bottom" href=<%= new_user_session_path %>><div class="user-name"> Login for Theater</div> </a>
   <% end %>


  </div>
</div>
<div class="mainpage">
  <%= yield %>
</div>
</body>
</html>