<!DOCTYPE html>
<html>
<head>
  <title>TestExplorer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<style>
  body { padding-top: 70px; }
</style>



<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=<%= root_path %>>Test Explorer</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          <li style="margin-right: 10px;"><p class="navbar-text navbar-right">Signed in as <%= current_user.email %></p></li>
          <li><a href= <%= destroy_user_session_path %> data-method="delete" rel="nofollow"><span class="glyphicon glyphicon-log-out log-out-button"></span> Logout</a></li>
    <% else %>
          <li><a href= <%= new_user_session_path %>><span class="glyphicon glyphicon-log-in log-out-and-in-button"></span> Login</a></li>
    <% end %>
    </ul>
  </div>
</nav>
<%= yield %>
</body>
</html>